.bg-image{
    background-image: url(../static/img/Mario_background.jpg);
    height: 600px;
    background-color: #cccccc;
    background-size: cover;
    box-shadow: 0 0 150px 150px black inset;
}

.my_navbar {
    Background-color: black;
}

.Logo_text{
    color: white;
    font-family: "OCR A Extended";
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
}
.Logo_text:hover{
    color: white;
}

.speed-run-title{
    background-color: black;
    color: white;
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.speed-tabs{
    background-color: black;
    font-family: "OCR A Extended";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.speed-tabs>li>a{
    color: white;
}
.form-label{
    color: white;
    font-family: "Arial";
    font-size: 20px;
}
.flashes{
    color: deeppink;
    font-family: "Arial";
    font-size: 20px;
}