<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>SpeedGames</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg my_navbar">
            <div class="container-fluid">
                <a class="navbar-brand Logo_text" href="/">
                    <img src="{{ url_for('static', filename='Logo.png') }}" width="120px" height="120px" class="d-inline-block align-middle" alt="">
                    SpeedGames
                </a>
            </div>
            {% if current_user.is_authenticated %}
                <p class="text-nowrap pt-md-3 me-md-3" style="color: white">Hello, {{ current_user.username }}!</p>
                {% if current_user.has_role('moderator') %}
                    <a href="{{ url_for('waitlist') }}" class="btn btn-warning text-nowrap me-md-3">Waitlist</a>
                {% else %}
                    {% if current_user.moderator_request == false %}
                    	<a href="{{ url_for('moderator_requests') }}" class="btn btn-warning text-nowrap me-md-3">Become a moderator!</a>
                    {% endif %}
                {% endif %}
                <a href="/logout" class="btn btn-danger text-nowrap me-md-5">Logout</a>
            {% else %}
                <a href="/register" class="btn btn-danger text-nowrap me-md-2">Sign up</a>
                <a href="/login" class="btn btn-danger me-md-5">Login</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>