{%  extends "base.html" %}

{% import "utils.html" as utils %}

{%  block content %}
    <div class="bg-image-hollow-knight">
        <div class="row justify-content-center">
            <div class="col-lg-7 my-5">
                <div class="card">
                    <div class="card-header speed-tabs">
                        <ul class="nav nav-tabs card-header-tabs speed-tabs">
                            <li class="nav-item">
                                <a href="{{ url_for('mario_speedruns') }}" class="nav-link">Mario 64</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('celeste_speedruns') }}" class="nav-link">Celeste</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active">Hollow Knight</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" style="background-color: black">
                        {% if current_user.is_authenticated %}
                            <a href="/add_speedrun" class="btn btn-success btn-block" style="width: 100%">Add speedrun!</a>
                        {% else %}
                            <p class="card-text">Must be logged in to submit speedrun</p>
                        {% endif %}
                    </div>
                    <div class="card-body change_speedrun" style="background-color: black">
                        <h5 class="card-title speed-run-title mt-2">Hollow Knight Any%</h5>
                        {{ utils.render_pagination(hollow_knight_speedruns, 'hollow_knight_speedruns') }}
                        {% for speedrun in hollow_knight_speedruns %}
                            <br> <img src="http://img.youtube.com/vi/{{ speedrun.link_id }}/default.jpg" alt="Youtube Thumbnail"> <a href="{{ url_for('show_speedrun', speedrun_id=speedrun.id) }}" class="card-text">{{ speedrun.id }}, {{ speedrun.time }}, {{ speedrun.user.username }}, {{ speedrun.link_id }}</a>
                        {% endfor %}
                        {{ utils.render_pagination(hollow_knight_speedruns, 'hollow_knight_speedruns') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}